.pure-button:focus {
	outline: 0px;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
.pure-table {
	border-collapse: collapse; border-spacing: 0;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	vertical-align: baseline; display: inline-block;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
progress {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: 700;
}
optgroup {
	font-weight: 700;
}
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor; border-image: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	height: 0px; box-sizing: content-box;
}
pre {
	overflow: auto;
}
textarea {
	overflow: auto;
}
code {
	font-family: monospace,monospace; font-size: 1em;
}
kbd {
	font-family: monospace,monospace; font-size: 1em;
}
pre {
	font-family: monospace,monospace; font-size: 1em;
}
samp {
	font-family: monospace,monospace; font-size: 1em;
}
button {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
input {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
optgroup {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
select {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
textarea {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
.pure-button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type=button] {
	cursor: pointer; -webkit-appearance: button;
}
input[type=reset] {
	cursor: pointer; -webkit-appearance: button;
}
input[type=submit] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input[type=checkbox] {
	padding: 0px; box-sizing: border-box;
}
input[type=radio] {
	padding: 0px; box-sizing: border-box;
}
input[type=search] {
	box-sizing: content-box; -webkit-appearance: textfield;
}
.pure-button {
	box-sizing: border-box;
}
.pure-form input:not([type]) {
	box-sizing: border-box;
}
.pure-menu {
	box-sizing: border-box;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid silver; border-image: none;
}
legend {
	padding: 0px;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
legend {
	border: 0px currentColor; border-image: none;
}
.hidden {
	display: none !important;
}
[hidden] {
	display: none !important;
}
.pure-img {
	height: auto; display: block; max-width: 100%;
}
.pure-g {
	flex-flow:row wrap; letter-spacing: -0.31em; font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif; display: flex; align-content: flex-start; text-rendering: optimizespeed; -webkit-flex-flow: row wrap; -webkit-align-content: flex-start;
}
@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)
{
table .pure-g {
	display: block;
}
}
.pure-u {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-g [class*=pure-u] {
	font-family: sans-serif;
}
.pure-u-1-24 {
	width: 4.16%;
}
.pure-u-1-12 {
	width: 8.33%;
}
.pure-u-2-24 {
	width: 8.33%;
}
.pure-u-1-8 {
	width: 12.5%;
}
.pure-u-3-24 {
	width: 12.5%;
}
.pure-u-1-6 {
	width: 16.66%;
}
.pure-u-4-24 {
	width: 16.66%;
}
.pure-u-1-5 {
	width: 20%;
}
.pure-u-5-24 {
	width: 20.83%;
}
.pure-u-1-4 {
	width: 25%;
}
.pure-u-6-24 {
	width: 25%;
}
.pure-u-7-24 {
	width: 29.16%;
}
.pure-u-1-3 {
	width: 33.33%;
}
.pure-u-8-24 {
	width: 33.33%;
}
.pure-u-3-8 {
	width: 37.5%;
}
.pure-u-9-24 {
	width: 37.5%;
}
.pure-u-2-5 {
	width: 40%;
}
.pure-u-10-24 {
	width: 41.66%;
}
.pure-u-5-12 {
	width: 41.66%;
}
.pure-u-11-24 {
	width: 45.83%;
}
.pure-u-1-2 {
	width: 50%;
}
.pure-u-12-24 {
	width: 50%;
}
.pure-u-13-24 {
	width: 54.16%;
}
.pure-u-14-24 {
	width: 58.33%;
}
.pure-u-7-12 {
	width: 58.33%;
}
.pure-u-3-5 {
	width: 60%;
}
.pure-u-15-24 {
	width: 62.5%;
}
.pure-u-5-8 {
	width: 62.5%;
}
.pure-u-16-24 {
	width: 66.66%;
}
.pure-u-2-3 {
	width: 66.66%;
}
.pure-u-17-24 {
	width: 70.83%;
}
.pure-u-18-24 {
	width: 75%;
}
.pure-u-3-4 {
	width: 75%;
}
.pure-u-19-24 {
	width: 79.16%;
}
.pure-u-4-5 {
	width: 80%;
}
.pure-u-20-24 {
	width: 83.33%;
}
.pure-u-5-6 {
	width: 83.33%;
}
.pure-u-21-24 {
	width: 87.5%;
}
.pure-u-7-8 {
	width: 87.5%;
}
.pure-u-11-12 {
	width: 91.66%;
}
.pure-u-22-24 {
	width: 91.66%;
}
.pure-u-23-24 {
	width: 95.83%;
}
.pure-u-1 {
	width: 100%;
}
.pure-u-1-1 {
	width: 100%;
}
.pure-u-24-24 {
	width: 100%;
}
.pure-u-5-5 {
	width: 100%;
}
.pure-button {
	text-align: center; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-zoom: 1; -ms-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.pure-button-group {
	letter-spacing: -0.31em; text-rendering: optimizespeed;
}
.pure-button {
	padding: 0.5em 1em; border-radius: 2px; border: transparent; border-image: none; color: rgba(0, 0, 0, 0.8); font-family: inherit; font-size: 100%; text-decoration: none; background-color: rgb(230, 230, 230);
}
.pure-button-hover {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.pure-button:focus {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.pure-button:hover {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.pure-button-active {
	border-color: rgb(0, 0, 0); box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), inset 0px 0px 6px rgba(0,0,0,0.2);
}
.pure-button:active {
	border-color: rgb(0, 0, 0); box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), inset 0px 0px 6px rgba(0,0,0,0.2);
}
.pure-button-disabled {
	border: currentColor; border-image: none; cursor: not-allowed; opacity: 0.4; pointer-events: none; box-shadow: none; background-image: none;
}
.pure-button-disabled:active {
	border: currentColor; border-image: none; cursor: not-allowed; opacity: 0.4; pointer-events: none; box-shadow: none; background-image: none;
}
.pure-button-disabled:focus {
	border: currentColor; border-image: none; cursor: not-allowed; opacity: 0.4; pointer-events: none; box-shadow: none; background-image: none;
}
.pure-button-disabled:hover {
	border: currentColor; border-image: none; cursor: not-allowed; opacity: 0.4; pointer-events: none; box-shadow: none; background-image: none;
}
[disabled].pure-button {
	border: currentColor; border-image: none; cursor: not-allowed; opacity: 0.4; pointer-events: none; box-shadow: none; background-image: none;
}
.pure-button-hidden {
	display: none;
}
.pure-button-primary {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 231);
}
.pure-button-selected {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 231);
}
a.pure-button-primary {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 231);
}
a.pure-button-selected {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 231);
}
.pure-button-group .pure-button {
	margin: 0px; border-radius: 0px; letter-spacing: normal; word-spacing: normal; vertical-align: top; border-right-color: rgba(0, 0, 0, 0.2); border-right-width: 1px; border-right-style: solid; text-rendering: auto;
}
.pure-button-group :first-child.pure-button {
	border-top-left-radius: 2px; border-bottom-left-radius: 2px;
}
.pure-button-group :last-child.pure-button {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none; border-top-right-radius: 2px; border-bottom-right-radius: 2px;
}
.pure-form input[type=password] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=email] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=url] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=date] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=month] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=time] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=datetime] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=datetime-local] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=week] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=tel] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=color] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=number] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=search] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=text] {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form select {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form textarea {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; vertical-align: middle; display: inline-block; box-sizing: border-box; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input:not([type]) {
	padding: 0.5em 0.6em; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; display: inline-block; box-shadow: inset 0px 1px 3px #ddd;
}
.pure-form input[type=color] {
	padding: 0.2em 0.5em;
}
.pure-form input:not([type]):focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=password]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=email]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=url]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=date]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=month]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=time]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=datetime]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=datetime-local]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=week]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=tel]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=color]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=number]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=search]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=text]:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form select:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form textarea:focus {
	border-color: rgb(18, 159, 234); outline: 0px;
}
.pure-form input[type=file]:focus {
	
}
.pure-form input[type=checkbox]:focus {
	
}
.pure-form input[type=radio]:focus {
	
}
.pure-form .pure-checkbox {
	margin: 0.5em 0px; display: block;
}
.pure-form .pure-radio {
	margin: 0.5em 0px; display: block;
}
.pure-form input:not([type])[disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=password][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=email][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=url][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=date][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=month][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=time][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=datetime][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=datetime-local][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=week][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=tel][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=color][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=number][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=search][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[type=text][disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form select[disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form textarea[disabled] {
	color: rgb(202, 210, 211); cursor: not-allowed; background-color: rgb(234, 237, 237);
}
.pure-form input[readonly] {
	border-color: rgb(204, 204, 204); color: rgb(119, 119, 119); background-color: rgb(238, 238, 238);
}
.pure-form select[readonly] {
	border-color: rgb(204, 204, 204); color: rgb(119, 119, 119); background-color: rgb(238, 238, 238);
}
.pure-form textarea[readonly] {
	border-color: rgb(204, 204, 204); color: rgb(119, 119, 119); background-color: rgb(238, 238, 238);
}
.pure-form input:invalid:focus {
	border-color: rgb(233, 50, 45); color: rgb(185, 74, 72);
}
.pure-form select:invalid:focus {
	border-color: rgb(233, 50, 45); color: rgb(185, 74, 72);
}
.pure-form textarea:invalid:focus {
	border-color: rgb(233, 50, 45); color: rgb(185, 74, 72);
}
.pure-form input[type=file]:invalid:focus {
	outline-color: rgb(233, 50, 45);
}
.pure-form input[type=checkbox]:invalid:focus {
	outline-color: rgb(233, 50, 45);
}
.pure-form input[type=radio]:invalid:focus {
	outline-color: rgb(233, 50, 45);
}
.pure-form select {
	border: 1px solid rgb(204, 204, 204); border-image: none; height: 2.25em; background-color: rgb(255, 255, 255);
}
.pure-form select[multiple] {
	height: auto;
}
.pure-form label {
	margin: 0.5em 0px 0.2em;
}
.pure-form fieldset {
	margin: 0px; padding: 0.35em 0px 0.75em; border: 0px currentColor; border-image: none;
}
.pure-form legend {
	padding: 0.3em 0px; width: 100%; color: rgb(51, 51, 51); margin-bottom: 0.3em; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.pure-form-stacked input:not([type]) {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=password] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=email] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=url] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=date] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=month] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=time] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=datetime] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=datetime-local] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=week] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=tel] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=color] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=file] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=number] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=search] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked input[type=text] {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked label {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked select {
	margin: 0.25em 0px; display: block;
}
.pure-form-stacked textarea {
	margin: 0.25em 0px; display: block;
}
.pure-form-aligned .pure-help-inline {
	vertical-align: middle; display: inline-block;
}
.pure-form-aligned input {
	vertical-align: middle; display: inline-block;
}
.pure-form-aligned select {
	vertical-align: middle; display: inline-block;
}
.pure-form-aligned textarea {
	vertical-align: middle; display: inline-block;
}
.pure-form-message-inline {
	vertical-align: middle; display: inline-block;
}
.pure-form-aligned textarea {
	vertical-align: top;
}
.pure-form-aligned .pure-control-group {
	margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
	margin: 0px 1em 0px 0px; width: 10em; text-align: right; vertical-align: middle; display: inline-block;
}
.pure-form-aligned .pure-controls {
	margin: 1.5em 0px 0px 11em;
}
.pure-form .pure-input-rounded {
	padding: 0.5em 1em; border-radius: 2em;
}
.pure-form input.pure-input-rounded {
	padding: 0.5em 1em; border-radius: 2em;
}
.pure-form .pure-group fieldset {
	margin-bottom: 10px;
}
.pure-form .pure-group input {
	margin: 0px 0px -1px; padding: 10px; border-radius: 0px; top: -1px; display: block; position: relative;
}
.pure-form .pure-group textarea {
	margin: 0px 0px -1px; padding: 10px; border-radius: 0px; top: -1px; display: block; position: relative;
}
.pure-form .pure-group input:focus {
	z-index: 3;
}
.pure-form .pure-group textarea:focus {
	z-index: 3;
}
.pure-form .pure-group input:first-child {
	margin: 0px; border-radius: 4px 4px 0px 0px; top: 1px;
}
.pure-form .pure-group textarea:first-child {
	margin: 0px; border-radius: 4px 4px 0px 0px; top: 1px;
}
.pure-form .pure-group input:first-child:last-child {
	margin: 0px; border-radius: 4px; top: 1px;
}
.pure-form .pure-group textarea:first-child:last-child {
	margin: 0px; border-radius: 4px; top: 1px;
}
.pure-form .pure-group input:last-child {
	margin: 0px; border-radius: 0px 0px 4px 4px; top: -2px;
}
.pure-form .pure-group textarea:last-child {
	margin: 0px; border-radius: 0px 0px 4px 4px; top: -2px;
}
.pure-form .pure-group button {
	margin: 0.35em 0px;
}
.pure-form .pure-input-1 {
	width: 100%;
}
.pure-form .pure-input-3-4 {
	width: 75%;
}
.pure-form .pure-input-2-3 {
	width: 66%;
}
.pure-form .pure-input-1-2 {
	width: 50%;
}
.pure-form .pure-input-1-3 {
	width: 33%;
}
.pure-form .pure-input-1-4 {
	width: 25%;
}
.pure-form .pure-help-inline {
	color: rgb(102, 102, 102); padding-left: 0.3em; font-size: 0.87em; vertical-align: middle; display: inline-block;
}
.pure-form-message-inline {
	color: rgb(102, 102, 102); padding-left: 0.3em; font-size: 0.87em; vertical-align: middle; display: inline-block;
}
.pure-form-message {
	color: rgb(102, 102, 102); font-size: 0.87em; display: block;
}
@media only screen and (max-width:480px)
{
.pure-form button[type=submit] {
	margin: 0.7em 0px 0px;
}
.pure-form input:not([type]) {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=password] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=email] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=url] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=date] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=month] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=time] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=datetime] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=datetime-local] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=week] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=tel] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=color] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=number] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=search] {
	margin-bottom: 0.3em; display: block;
}
.pure-form input[type=text] {
	margin-bottom: 0.3em; display: block;
}
.pure-form label {
	margin-bottom: 0.3em; display: block;
}
.pure-group input:not([type]) {
	margin-bottom: 0px;
}
.pure-group input[type=password] {
	margin-bottom: 0px;
}
.pure-group input[type=email] {
	margin-bottom: 0px;
}
.pure-group input[type=url] {
	margin-bottom: 0px;
}
.pure-group input[type=date] {
	margin-bottom: 0px;
}
.pure-group input[type=month] {
	margin-bottom: 0px;
}
.pure-group input[type=time] {
	margin-bottom: 0px;
}
.pure-group input[type=datetime] {
	margin-bottom: 0px;
}
.pure-group input[type=datetime-local] {
	margin-bottom: 0px;
}
.pure-group input[type=week] {
	margin-bottom: 0px;
}
.pure-group input[type=tel] {
	margin-bottom: 0px;
}
.pure-group input[type=color] {
	margin-bottom: 0px;
}
.pure-group input[type=number] {
	margin-bottom: 0px;
}
.pure-group input[type=search] {
	margin-bottom: 0px;
}
.pure-group input[type=text] {
	margin-bottom: 0px;
}
.pure-form-aligned .pure-control-group label {
	width: 100%; text-align: left; margin-bottom: 0.3em; display: block;
}
.pure-form-aligned .pure-controls {
	margin: 1.5em 0px 0px;
}
.pure-form .pure-help-inline {
	padding: 0.2em 0px 0.8em; font-size: 0.75em; display: block;
}
.pure-form-message {
	padding: 0.2em 0px 0.8em; font-size: 0.75em; display: block;
}
.pure-form-message-inline {
	padding: 0.2em 0px 0.8em; font-size: 0.75em; display: block;
}
}
.pure-menu-fixed {
	left: 0px; top: 0px; position: fixed; z-index: 3;
}
.pure-menu-item {
	position: relative;
}
.pure-menu-list {
	position: relative;
}
.pure-menu-list {
	list-style: none; margin: 0px; padding: 0px;
}
.pure-menu-item {
	margin: 0px; padding: 0px; height: 100%;
}
.pure-menu-heading {
	text-decoration: none; display: block; white-space: nowrap;
}
.pure-menu-link {
	text-decoration: none; display: block; white-space: nowrap;
}
.pure-menu-horizontal {
	width: 100%; white-space: nowrap;
}
.pure-menu-horizontal .pure-menu-list {
	display: inline-block;
}
.pure-menu-horizontal .pure-menu-heading {
	vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.pure-menu-horizontal .pure-menu-item {
	vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.pure-menu-horizontal .pure-menu-separator {
	vertical-align: middle; display: inline-block; -ms-zoom: 1;
}
.pure-menu-item .pure-menu-item {
	display: block;
}
.pure-menu-children {
	margin: 0px; padding: 0px; left: 100%; top: 0px; display: none; position: absolute; z-index: 3;
}
.pure-menu-horizontal .pure-menu-children {
	left: 0px; top: auto; width: inherit;
}
.pure-menu-active > .pure-menu-children {
	display: block; position: absolute;
}
.pure-menu-allow-hover:hover > .pure-menu-children {
	display: block; position: absolute;
}
.pure-menu-has-children > .pure-menu-link::after {
	padding-left: 0.5em; font-size: small; content: "\25B8";
}
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
	content: "\25BE";
}
.pure-menu-scrollable {
	-ms-overflow-x: hidden; -ms-overflow-y: scroll;
}
.pure-menu-scrollable .pure-menu-list {
	display: block;
}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
	display: inline-block;
}
.pure-menu-horizontal.pure-menu-scrollable {
	padding: 0.5em 0px; white-space: nowrap; -ms-overflow-x: auto; -ms-overflow-y: hidden; -ms-overflow-style: none; -webkit-overflow-scrolling: touch;
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
	margin: 0.3em 0px; height: 1px; background-color: rgb(204, 204, 204);
}
.pure-menu-separator {
	margin: 0.3em 0px; height: 1px; background-color: rgb(204, 204, 204);
}
.pure-menu-horizontal .pure-menu-separator {
	margin: 0px 0.3em; width: 1px; height: 1.3em;
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
	width: auto; display: block;
}
.pure-menu-heading {
	color: rgb(86, 93, 100); text-transform: uppercase;
}
.pure-menu-link {
	color: rgb(119, 119, 119);
}
.pure-menu-children {
	background-color: rgb(255, 255, 255);
}
.pure-menu-disabled {
	padding: 0.5em 1em;
}
.pure-menu-heading {
	padding: 0.5em 1em;
}
.pure-menu-link {
	padding: 0.5em 1em;
}
.pure-menu-disabled {
	opacity: 0.5;
}
.pure-menu-disabled .pure-menu-link:hover {
	background-color: transparent;
}
.pure-menu-active > .pure-menu-link {
	background-color: rgb(238, 238, 238);
}
.pure-menu-link:focus {
	background-color: rgb(238, 238, 238);
}
.pure-menu-link:hover {
	background-color: rgb(238, 238, 238);
}
.pure-menu-selected .pure-menu-link {
	color: rgb(0, 0, 0);
}
.pure-menu-selected .pure-menu-link:visited {
	color: rgb(0, 0, 0);
}
.pure-table {
	border: 1px solid rgb(203, 203, 203); border-image: none; empty-cells: show;
}
.pure-table caption {
	font: italic 85% arial, sans-serif; padding: 1em 0px; text-align: center; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.pure-table td {
	border-width: 0px 0px 0px 1px; margin: 0px; padding: 0.5em 1em; overflow: visible; font-size: inherit; border-left-color: rgb(203, 203, 203); border-left-style: solid;
}
.pure-table th {
	border-width: 0px 0px 0px 1px; margin: 0px; padding: 0.5em 1em; overflow: visible; font-size: inherit; border-left-color: rgb(203, 203, 203); border-left-style: solid;
}
.pure-table td:first-child {
	border-left-width: 0px;
}
.pure-table th:first-child {
	border-left-width: 0px;
}
.pure-table thead {
	text-align: left; color: rgb(0, 0, 0); vertical-align: bottom; background-color: rgb(224, 224, 224);
}
.pure-table td {
	background-color: transparent;
}
.pure-table-odd td {
	background-color: rgb(242, 242, 242);
}
.pure-table-striped tr:nth-child(2n-1) td {
	background-color: rgb(242, 242, 242);
}
.pure-table-bordered td {
	border-bottom-color: rgb(203, 203, 203); border-bottom-width: 1px; border-bottom-style: solid;
}
.pure-table-bordered tbody > tr:last-child > td {
	border-bottom-width: 0px;
}
.pure-table-horizontal td {
	border-width: 0px 0px 1px; border-bottom-color: rgb(203, 203, 203); border-bottom-style: solid;
}
.pure-table-horizontal th {
	border-width: 0px 0px 1px; border-bottom-color: rgb(203, 203, 203); border-bottom-style: solid;
}
.pure-table-horizontal tbody > tr:last-child > td {
	border-bottom-width: 0px;
}
