<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sentority Data-Anlytics Dashboard">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Smart CV Reader</title>

	<!--
	<link rel="stylesheet" href="css/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	-->
	<link rel="stylesheet" href="css/pure-min.css">
	<link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="css/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script>

        $(window).bind("pageshow", function() {

            var xhttp = new XMLHttpRequest();
            xhttp.open('GET', '/', true);
            xhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');

            xhttp.send();
            var form = $('form');
            form[0].reset();

            document.getElementById("cbox2").disabled = true;

        });

    </script>


    <script>

        $("#file-picker").change(function(){

            var input = document.getElementById('file-picker');

            for (var i=0; i<input.files.length; i++)
            {
            //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

                if ((ext == 'jpg') || (ext == 'png'))
                {
                    $("#msg").text("Files are supported")
                }
                else
                {
                    $("#msg").text("Files are NOT supported")
                    document.getElementById("file-picker").value ="";
                }

            }

        } );

    </script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body onload="document.refresh();">
<nav><!--<img src="{{ url_for('static', filename='img/kv.png') }}" height="55">-->
</nav>
<footer>
        &copy; 2018 Arun Bhardwaj
        <a href="#" target="_blank" class="footerlink">Imprint</a>
        <a href="#" target="_blank" class="footerlink">Contact</a>
</footer>

<div class="pure-g">

	<div class="pure-u-1-5">&nbsp;</div>


	<div class="pure-u-5-5">
                <div class="high150"></div>
        </div>


	<div class="pure-u-4-24">&nbsp;</div>
	<div class="pure-u-16-24">
		<div class="box">
            <center>
                <h1>Smart CV Reader</h1>

            </center>

			<div class="pure-g">
			
			<div class="pure-u-8-24">&nbsp;</div>
			
			<div class="pure-u-12-24">
			
				<div class="pure-u-5-5">
                <div class="high25"></div>
				</div>

                <form class="pure-form" id="upload-form"  action="/upload"  method="POST" enctype="multipart/form-data">

                    <fieldset class="pure-group">
                        <textarea class="pure-input-3-4" id="jdtext" name="jdtext" rows="8" placeholder="Put your job description" style="background-color: black;color:#fff;"></textarea>
                        <div class="pure-control-group">{{ result }}</div>
                        <strong>Upload CV:</strong><br>
                        <input id="file-picker" type="file" name="file" accept="*/*" multiple>
                        <div id="msg"></div>
                        <input type="submit" class="pure-button pure-input-1-2 pure-button-primary" value="Matching Profiles" id="upload-button">

                    </fieldset>
                </form>

                        	<br><br>
                    	<!--<div class="pure-control-group">{{ result }}</div>-->
                        <input id="sessionID" type="hidden" name='sessionID' value="{{ sessionID }}" >
                        <input type="hidden" id="refresh" value="no">
                    </fieldset>
                
            </form>
			</div>
			</div>
		</div>
	</div>

	<div class="pure-u-5-5">
                <div class="high50"></div>
        </div>
</div>
</body>
</html>


