<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sentority Data-Anlytics Dashboard">

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Smart CV Reader</title>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3.layout.cloud.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>



<body>
<nav>
    <!--<img src="{{ url_for('static', filename='img/kv.png') }}" height="55">-->
</nav>
<footer>
        &copy; 2018 Arun Bhardwaj
        <a href="#" target="_blank" class="footerlink">Imprint</a>
        <a href="#" target="_blank" class="footerlink">Contact</a>
</footer>

<div class="pure-g">

	<div class="pure-u-1-5">&nbsp;</div>
     <DIV class="pure-u-5-5">
        <DIV class="high50"></DIV>
    </DIV>
    <div class="pure-u-4-24">&nbsp;</div>
        <DIV class="pure-u-16-24">
            <DIV class="box" height="50px">
                <p>Job Description:</p>
                {% if progress != ''%}
                    <p style="font-face: 'Comic Sans MS'; font-size: small; color: white;"> {{ jdtext }} </p>

                {% endif %}

                <a href="/" style="color:red; font-size: small;">(<u>New Search</u>)</a></p>

            </DIV>
        </DIV>

        <div class="pure-u-1-5">&nbsp;</div>
        <DIV class="pure-u-5-5">
            <DIV class="high25"></DIV>
        </DIV>
        <div class="pure-u-4-24">&nbsp;</div>
        <!--
        <DIV class="pure-u-16-24">
            <DIV class="box">
                <textcloud>

                </textcloud>
            </DIV>
        </DIV>
        -->

        <div class="pure-u-5-5">
             <div class="high25"></div>
        </div>



        <div class="pure-u-4-24">&nbsp;</div>
        <div class="pure-u-16-24">
            <div class="box">
            <div class="pure-u-1-1" style="overflow-y:scroll; overflow-x:scroll; height:500px;">
                <p style="font-face: 'Comic Sans MS'; font-size: medium; color: white;">Total CVs: {{ urlcounts }} </p>
                    <form action="#" method="post">

                          <table class="pure-table pure-table-bordered">
                              <col width="130">
                              <col width="230">
                              <col width="330">
                              <col width="130">

                              <thead>
                                  <th style="width:100px;">Source files (CV)</th>
                                  <th style="width:150px;">Email ID</th>
                                  <th>Keywords from CV</th>
                                  <th>% matching</th>

                              </thead>
                              <tbody>
                                  {% set count = 1 %}
                                  {% for d in data %}
                                        {%  for k in d %}

                                            {% set count = count + 1 %}
                                            {%if count%2 == 0 %}
                                                {% set row_class = "" %}
                                            {% else %}
                                                {% set row_class = "" %}

                                            {% endif %}

                                            <tr class="{{ row_class }}">
                                                <td style="font-face: 'Comic Sans MS'; font-size: small; color: white;">
                                                    <div style='width: 180px;'><a href="{{ k }}" target="_blank">{{ k }}</a></div>
                                                </td>
                                                <td style="font-face: 'Comic Sans MS'; font-size: small; color: white;"> {{ d[k][0] }} </td>
                                                <td style="font-face: 'Comic Sans MS'; font-size: small; color: white;"> {{ d[k][1] }} </td>
                                                <td style="font-face: 'Comic Sans MS'; font-size: small; color: white;"> {{ d[k][2] }} </td>
                                            </tr>
                                        {% endfor %}
                                  {% endfor %}
                              </tbody>
                          </table>
                    </form>

            </div>
            </div>
        </div>


        <div class="pure-u-5-5">
            <div class="high50"></div>
        </div>
    </div>
</body>
</html>
